.body {
    position: relative;
    width: 1600px;
    height: 2349px;

background: #FFFFFF;
}

.header {
    position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;

background: #FFFFFF;
}

.logo {
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.header_link {
    position: absolute;
    width: 49px;
    height: 16px;
    left: 453px;
    top: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

color: #2196F3;
}

.list {
    list-style-type: none;
}

.header_link_port {
    position: absolute;
    width: 77px;
    height: 16px;
    left: 552px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #212121;
}

.header_link_con {
    position: absolute;
    width: 68px;
    height: 16px;
    left: 679px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #212121;

}

.header_mail {
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    color: #2196F3;
}

.header_tel {
    position: absolute;
    width: 122px;
    height: 16px;
    left: 1263px;
    top: 32px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    color: #757575;
    
}

.main_div {
    position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    
    background: #2F303A;
}

.main_h1 {
    position: absolute;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 200px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.main_btn {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
}

.features_list {
    position: absolute;
    width: 1170px;
    height: 101px;
    left: 215px;
    top: 774px;
}

/* .features_item {
    position: absolute;
    width: 270px;
    height: 101px;
    left: 215px;
    top: 774px;
} */

.features_title_1 {
    position: absolute;
    width: 270px;
    height: 16px;
    left: 215px;
    top: 774px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #212121;
}
