body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 10px;
}

a {
    text-decoration: none;
  }

li {
    list-style-type: none;
}
  

header {
    position: flex;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
}

.header-logo {
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.header-logo-s {
    color: black;
}

.header-item-stud, .header-item-port, .header-item-cont {
    position: absolute;
    width: 49px;
    height: 16px;
    left: 453px;
    top: 32px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.header-item-port {
    width: 77px;
    left: 552px;
    color: #212121;
}

.header-item-cont {
    width: 68px;
    left: 679px;
    color: #212121;
}

.header-menu:hover {
    color: #2196F3;
}

.header-menu:focus {
    color: orange;
}

.header-mail {
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #2196F3;

}

.header-tel {
    position: absolute;
    width: 122px;
    height: 16px;
    left: 1263px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #757575;

}

/* ШАПКА */

.heading {
    position: flex;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    
    background: #2F303A;
}

.title {
    position: absolute;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.button {
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

}
